<h2>Rate my Cakes</h2>
<div class='upper'>
  <div class='container'>
    <form (submit)="onSubmit()">
      <p> {{ newPrimary | json }} </p>
      <input type="text" name="newPrimary.name" [(ngModel)] = "newPrimary.name"/>
      <input type="text" name="newPrimary.url" [(ngModel)] = "newPrimary.url"/>
      <input type="submit" value = "Create Cake" />
    </form>
  </div>
  <div class='container'>
    <div class='row' *ngFor="let primary of primaryCollection">
      <img src="{{primary.url}}" (click)="onButtonShow(primary)">
      <div class='right'>
        <form (submit)="onSecondarySubmit(primary._id)">
          <select name="newSecondary.rating" [(ngModel)] = "newSecondary.rating">
            <option value="5">5 stars</option>
            <option value="4">4 stars</option>
            <option value="3">3 stars</option>
            <option value="2">2 stars</option>
            <option value="1">1 star</option>
          </select>
          <input type="text" name = "newSecondary.content" [(ngModel)] = "newSecondary.content"/>
          <button type='submit'>Rate!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<button (click)="onButtonClick()" > Show Cakes</button>
<div class='bottom'>
  <app-task *ngIf="selectedPrimary" [onButtonShow]="selectedPrimary"></app-task>
</div>



<router-outlet></router-outlet>
